---
import { EXAMPLE_API_URL } from "astro:env/server";
import { BodyShort, Heading, Link } from "@navikt/ds-react";
import Komponent from "@src/components/Komponent";
import { text } from "@src/language/text";
import type { Language } from "@src/language/types";
import styles from "@src/styles/index.module.css";
import { fetchExampleData } from "@src/utils/fetch";
import { logger } from "@src/utils/logger";
import { getOboToken } from "@src/utils/token";
import "@src/styles/aksel.css";
import { isLocal } from "../../utils/environment";

const oboToken = await getOboToken(Astro.locals.token);
let exampleData;

try {
  exampleData = await fetchExampleData(oboToken, EXAMPLE_API_URL);
} catch (error) {
  logger.error("Error fetching example data: " + error);
  return new Response("Internal Server Error", { status: 503 });
}

const language = Astro.currentLocale as Language;
---

{isLocal && <meta charset="UTF-8" />}
<section class="familie-ef-mikrofrontend-minside">
  <div class={styles.microfrontend}>
    <Komponent tittel={text.title[language]} undertittel={text.subtitle[language]} client:only="react" />
  </div>
</section>
<script>
  import { logEvent } from "@src/utils/analytics";

  const microfrontend = document.querySelector("#link");
  microfrontend?.addEventListener("click", () => logEvent("Lenke"));
</script>
