---
import { BodyLong, Heading } from "@navikt/ds-react";
import EnsligForsørgerIcon from "../icons/EnsligForsørgerIcon.astro";
import styles from "../styles/Komponent.module.css";
import LinkCard from "./link-card/LinkCard.astro";

const { tittel, undertittel } = Astro.props;
---


<LinkCard id="linkCard">
  <div class={styles.container}>
    <div class={styles.ikonOgTekstContainer}>
    <EnsligForsørgerIcon aria-hidden="true"/>
      <div>
      <Heading size="small" level="2">
        {tittel}
      </Heading>
      <BodyLong size="medium">
        {undertittel}
      </BodyLong>
      </div>
    </div>
  </div>
</LinkCard>
<script>
  import { logNavigereEvent } from "@src/utils/amplitude";

  const microfrontend = document.querySelector("#linkCard");
  microfrontend?.addEventListener("click", () => logNavigereEvent());
</script>
